init.author.name=Jorge Acevedo de León
init.author.email=alu0101123622@ull.edu.es
init.author.url=https://github.com/Jorge-Acevedo
//registry.npmjs.org/:_authToken=f61f2d82-5037-4a6a-b95e-a1b99c6be10b
@ULL-ESIT-PL-1920:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=6ee67e36cf37f1c59cb845deb14f9e7e32096e83
